nav{
    width: 100%;
    background: #000;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 30px;
}

h1{
    margin-left: 20px;
    font-size: 5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 5px;
    
}
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
  
  
.items4 a{
    margin-left: 3rem;
}

footer{
    background: rgb(61, 60, 60);
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}


